
//colores//
$bgNav:#EE3F3F;
$botoneraColorhover:rgba(11, 75, 165, 1);
$inicioColor:rgba(253, 253, 253, 1);
$keyframeColor1:#000;
$keyframeColor2:#EE3F3F;
$keyframeColor3:#058BD3;
$footerColor:#EE3F3F;

//texto//
$botoneraTextSize: 1.4rem;
$footerTextSize: 3rem;
